# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
mcmodsrepo

# local runtime and editor files
logs
crash-reports
.vscode
*.log
__pycache__/
*.py[cod]

# other
eclipse
run
run-data

# Files from Forge MDK
forge*changelog.txt
